<div id="signin">
<!-- 	<img src="img/logo.png"> -->	
	<div class="intro">
    	<h2 class="mainh">Welcome to KeySplit</h2>
    	<h4 class="subh">Simple and secure multi-sig storage for your secret passwords.</h4>
	</div>

	<br>

	<button onclick="showPwdInput()" class="btn btn-info">Create Account</button>
	<button onclick="showPwdInput()" class="btn btn-info">Login</button>
</div>

<script>
	function showPwdInput() {
	    var x = document.getElementById("signin");
	    var y = document.getElementById("pwdInput");
	    if (y.style.display === "none") {
	    	x.style.display = "none";
	    	y.style.display = "block";
	    } else {
	    	x.style.display = "block";
	    	y.style.display = "none";
	    }
	}
</script>

<div class="spacer100"></div>

<div id="pwdInput" style="display: none;">
<p>ENTER YOUR PASSWORD</p>

	<input type="password" name="pwd" id="pwd" required>
	<br><br>
	<button onclick="validatePwd()" class="btn btn-info">Login</button>

	<script type="text/javascript">
		function validatePwd() {
			var x = document.getElementById("pwd").value;
		    if (x == "") {
		        alert("Please enter your password.");
		        return false;
		    } else if (x.length <= 8) {
		    	alert("Your password should be greater than eight (8) characters.");
		    	return false;
		    } else {
		    	// check for valid pwd


		    	loadSecretForm();
		    }
	}
	</script>

	<script type="text/javascript">
		function loadSecretForm() {
			$("#includedContent").load("secret.html"); 
		}
	</script>
</div>