<p>ENTER YOUR PASSWORD</p>

<input type="password" name="pwd" id="pwd" required>
<br><br>
<button onclick="validatePwd()" class="btn btn-default">Submit</button>

<script type="text/javascript">
	function validatePwd() {
		var x = document.getElementById("pwd").value;
	    if (x == "") {
	        alert("Please enter your password.");
	        return false;
	    } else if (x.length <= 8) {
	    	alert("Your password should be greater than eight (8) characters.");
	    	return false;
	    } else {
	    	// check for valid pwd

	    	loadSecretForm();
	    }
}
</script>

<script type="text/javascript">
	function loadSecretForm() {
		$("#includedContent").load("secret.html"); 
	}
</script>