<div class="spacer100"></div>

<p>ENTER YOUR SECRET PHRASE</p>

<input type="text" name="secret" id="secret" required>
<br><br>
<button onclick="validateSecret()" class="btn btn-info">Submit</button>

<script type="text/javascript">
	function validateSecret() {
		var x = document.getElementById("secret").value;
	    if (x == "") {
	        alert("Please enter a secret key.");
	        return false;
	    } else if (x.length < 24) {
	    	alert("Enter a valid secret key");
	    	return false;
	    } else {
	    	loadShardContent();
	    }
}
</script>


<script type="text/javascript">
	function loadShardContent() {
		$("#includedContent").load("shards.html"); 
	}
</script>