* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
  background-color: #333333;
}

body {
  text-align: center;
  font: 20px Avenir, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: Avenir, Helvetica, Helvetica;
  color: #333333;
}

p, li {
  font-family: Avenir, Helvetica, Helvetica; 
  color: #544949;
}

h1 {
  margin: 0 0 24px 0; 
  padding: 0; 
  font-size: 64px; 
  font-weight: bold;
}

h2 {
  margin: 24px 0 12px 0; 
  padding: 0;
  font-size: 26px; 
  font-weight: bold;
}

h3 {
  margin: 24px 0 12px 0;
  padding: 0; 
  font-size: 22px; 
  font-weight: bold;
}

p { 
  margin: 1em 0; 
}

a { 
  color: #6FB7E9; 
  text-decoration:none; 
}

a:hover { 
  color: #000; 
  text-decoration:none;
}

/* spacers */

.spacer5 { 
  margin: 0; 
  padding: 0; 
  height: 5%;
 }

.spacer10 { 
  margin: 0; 
  padding: 0; 
  height: 10%;
}

.spacer15 { 
  margin: 0; 
  padding: 0; 
  height: 15%;
}

.spacer100 {
  margin: 0;
  padding: 0;
  height: 100px;
}

/* main elements */

.mainh {
  color: #333333;
  margin: 0 0 24px 0; 
  padding: 0; 
  font-size: 28px; 
  font-weight: bold;
  text-align: center;
  padding-top: 10%;
}

@media all and (max-width: 660px) {
  .mainh {
    color: #333333;
    margin: 0 0 24px 0; 
    padding: 0; 
    font-size: 28px; 
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
  }
}

.contact-h {
  padding: 0; 
  margin: 2% 0 3% 15%; 
  font-size: 24px; 
}

@media all and (max-width: 660px) {
  .contact-h {
    padding: 0; 
    margin: 1% 0 8% 10%; 
    font-size: 22px; 
  }
}

.subh {
  color: #444444;
  text-align: center;
}

.work-left {
  text-align: left;
  align-items: left;
}

.mainh-left {
  color: #555555;
  margin: 0 0 22px 0; 
  padding: 0; 
  font-size: 28px; 
  font-weight: bold;
  padding-top: 7%;
}

.subh-left {
  color: #555555;
  margin: 0 0 30px 0; 
}

.nav {
  font-size: 18px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 42px;
  text-align: left;
  align-items: left;
}

.intro {
  display: block;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.down-arrow {
  height: 33px;
}

.main {
  font-size: 100%;
  text-align: center;
  line-height: 1.5em;
  margin:  1em auto 1em;
  width: 90%;
  height: 80%;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* footer */

.footer {
  font-size: 90%;
  background-color: #333333;
  margin-top: 1em;
  width: 100%;
  text-align: center;
  box-shadow: 0px 500px 0px 500px #333;
}

.footer p {
  color: #ECECEC;
}

.footer-menu a {
  margin-right: 1em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .contact a:hover {
  color: #000;
  text-decoration:none
}

.footer .contact {
  margin: -12px 0 0 0;
}

.footer .links-left {
  margin: -36px 0 0 0;
}

.footer .links-right {
  margin: -36px 0 0 0;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.meta {
  color: #aaa;
  font-size: 80%;
  margin-bottom: 12px;
}

.meta span {
  margin-right: 3em;
}